<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Polls V2</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/fontawesome-all.css">
	<link rel="stylesheet" href="css/style.css">

	<body>
		<div class="wrapper">
			<div class="poll-style-two-content d-flex">
				<div class="poll-style-two-img text-center">
					<img src="img/pl3.png" alt="">
				</div>
				<div class="poll-style-two-text">
					<h2>Escolha seu candidato para prefeitura de São Paulo</h2>
					<div class="poll-style-two-progress">
						<form action="thank.html">
							<div class="poll-progress-percent">
								<label>
									<input type="radio" name="goog_design" class="exp-option-box">
									<span class="checkmark-border position-relative"></span>
									<span class="exp-label">João Alberto Gomes da Silva - #01</span>
									<b class="progress">
										<b class="progress-bar" data-percent="65"></b>
									</b>
								</label>
							</div>
							<div class="poll-progress-percent">
								<label>
									<input type="radio" name="goog_design" class="exp-option-box">
									<span class="checkmark-border position-relative"></span>
									<span class="exp-label">Lucas Silva - #02</span>
									<b class="progress">
										<b class="progress-bar" data-percent="15"></b>
									</b>
								</label>
							</div>
							<div class="poll-progress-percent">
								<label>
									<input type="radio" name="goog_design" class="exp-option-box">
									<span class="checkmark-border position-relative"></span>
									<span class="exp-label">Juliana Ferreira - #03</span>
									<b class="progress">
										<b class="progress-bar" data-percent="45"></b>
									</b>
								</label>
							</div>
							<button type="submit">Enviar meu voto!</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /wrapper -->
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/appear.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/main.js"></script>	
	</body>

</html>
